menu "Example Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"
    
    config IPERF_ETH_SPI_HOST
        int "SPI Host Number"
        range 0 2
        default 1
        help
            Set the SPI host used to communicate with the SPI Ethernet Controller.
    
    config IPERF_ETH_SPI_SCLK_GPIO
        int "SPI SCLK GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 14 if IDF_TARGET_ESP32
        default 12 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 6 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 4 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI SCLK.

    config IPERF_ETH_SPI_MOSI_GPIO
        int "SPI MOSI GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 13 if IDF_TARGET_ESP32
        default 11 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 7 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 5 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI MOSI.

    config IPERF_ETH_SPI_MISO_GPIO
        int "SPI MISO GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 12 if IDF_TARGET_ESP32
        default 13 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 2 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 0 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI MISO.

    config IPERF_ETH_SPI_CLOCK_MHZ
        int "SPI clock speed (MHz)"
        range 1 50
        default 40
        help
            Set the clock speed (MHz) of SPI interface.        

    config IPERF_ETH_SPI_CS_GPIO
        int "SPI CS GPIO number for SPI Ethernet module"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 15 if IDF_TARGET_ESP32
        default 10 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C2
        default 3 if IDF_TARGET_ESP32C6
        default 1 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI CS).

    config IPERF_ETH_SPI_INT_GPIO
        int "Interrupt GPIO number SPI Ethernet module"
        range -1 ENV_GPIO_IN_RANGE_MAX
        default 4 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
        default 4 if IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 10 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI Ethernet module interrupt line.
            Set -1 to use SPI Ethernet module in polling mode.

    config IPERF_ETH_SPI_POLLING_MS_VAL
        depends on EXAMPLE_ETH_SPI_INT_GPIO < 0
        int "Polling period in msec of SPI Ethernet Module"
        default 10
        help
            Set SPI Ethernet module polling period.

    config IPERF_ETH_SPI_PHY_RST_GPIO
        int "PHY Reset GPIO number of SPI Ethernet Module"
        range -1 ENV_GPIO_OUT_RANGE_MAX
        default -1
        help
            Set the GPIO number used to reset PHY chip on the SPI Ethernet module.
            Set to -1 to disable PHY chip hardware reset.

endmenu
