menu "Example Configuration"
    config EXAMPLE_LAN867X_USE_PLCA
        bool "Use PLCA"
        default n
        help
            Use PLCA instead of CSMA/CD, in some cases PLCA may be more robust against collisions

    config EXAMPLE_LAN867X_PLCA_NODE_COUNT
        depends on EXAMPLE_LAN867X_USE_PLCA
        int "PLCA node count"
        range 2 255
        default 2
        help
            Set PLCA node count (amount of nodes in the network including this one)
endmenu
