# This file is used as configuration file by idf-build-apps to build the ESP-IDF applications dependent on modified components.

paths = [
    'examples/',
]

target = "all"

config_rules = [
    'sdkconfig.ci=default',
    'sdkconfig.ci.*=',
    '=default',
]

extra_pythonpaths = [
    '$IDF_PATH/tools/ci/python_packages',
    '$IDF_PATH/tools/ci',
    '$IDF_PATH/tools',
]

recursive = true
check_warnings = true
keep_going = true
copy_sdkconfig = true
ignore_warning_files = [
    '$IDF_PATH/tools/ci/ignore_build_warnings.txt',
]

build_dir = "build_@t_@w"
build_log_filename = "build_log.txt"
size_json_filename = "size_${CI_JOB_ID}.json"

verbose = 1  # INFO

# collect
collect_app_info_filename = "app_info_${CI_JOB_NAME_SLUG}.txt"
junitxml = "build_summary_${CI_JOB_NAME_SLUG}.xml"

# manifest
check_manifest_rules = true
manifest_rootpath = "$IDF_PATH"
manifest_filepatterns = [
    '**/.build-test-rules.yml',
]

deactivate_dependency_driven_build_by_filepatterns = [
    # tools
    'tools/cmake/**/*',
    'tools/tools.json',
    # ci
    'tools/ci/ignore_build_warnings.txt',
]
