menu "Example Configuration"
    config EXAMPLE_LAN867X_USE_PLCA
        bool "Use PLCA"
        default n
        help
            Use PLCA instead of CSMA/CD, in some cases PLCA may be more robust against collisions

    config EXAMPLE_LAN867X_PLCA_ID
        depends on EXAMPLE_LAN867X_USE_PLCA
        int "LAN867x PLCA id"
        range 1 255
        default 1
        help
            Set PLCA id (each device in the network must have unique PLCA id)
endmenu
