menu "Example Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config IPERF_ETH_SPI_HOST
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI Host Number"
        range 0 2
        default 1
        help
            Set the SPI host used to communicate with the SPI Ethernet Controller.
    
    config IPERF_ETH_SPI_SCLK_GPIO
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI SCLK GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 14 if IDF_TARGET_ESP32
        default 12 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 6 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 4 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI SCLK.

    config IPERF_ETH_SPI_MOSI_GPIO
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI MOSI GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 13 if IDF_TARGET_ESP32
        default 11 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 7 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 5 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI MOSI.

    config IPERF_ETH_SPI_MISO_GPIO
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI MISO GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 12 if IDF_TARGET_ESP32
        default 13 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default 2 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 0 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI MISO.

    config IPERF_ETH_SPI_CLOCK_MHZ
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI clock speed (MHz)"
        range 1 40
        default 20
        help
            Set the clock speed (MHz) of SPI interface.        

    config IPERF_ETH_SPI_CS_GPIO
        depends on ETH_CH395_INTERFACE_SPI
        int "SPI CS GPIO number for SPI Ethernet module"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 15 if IDF_TARGET_ESP32
        default 10 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C2
        default 3 if IDF_TARGET_ESP32C6
        default 1 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI CS.
        
    config IPERF_ETH_UART_PORT
        depends on ETH_CH395_INTERFACE_UART
        int "UART Port number"
        range 1 1 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32H2
        range 1 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32C6 || IDF_TARGET_ESP32S3
        default 1
        help
            Set the UART port used to communicate with the Ethernet Controller.

    config IPERF_ETH_UART_BAUDRATE
        depends on ETH_CH395_INTERFACE_UART
        int "UART baudrate(bps)"
        range 9600 3000000
        default 3000000
        help
            Set the baudrate of UART port.

    config IPERF_ETH_UART_TX_GPIO
        depends on ETH_CH395_INTERFACE_UART
        int "UART TX GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 2
        help
            Set the GPIO number used by UART TX.
    
    config IPERF_ETH_UART_RX_GPIO
        depends on ETH_CH395_INTERFACE_UART
        int "UART RX GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 1
        help
            Set the GPIO number used by UART RX.

    config IPERF_ETH_INT_GPIO
        depends on ETH_CH395_INTERFACE_UART || ETH_CH395_INTERFACE_SPI
        int "Interrupt GPIO number Ethernet module"
        range -1 ENV_GPIO_IN_RANGE_MAX
        default 4 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
        default 4 if IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C6
        default 10 if IDF_TARGET_ESP32H2
        help
            Set the GPIO number used by SPI Ethernet module interrupt line.
            Set -1 to use SPI Ethernet module in polling mode.

    config IPERF_ETH_POLLING_MS_VAL
        depends on IPERF_ETH_INT_GPIO < 0
        depends on ETH_CH395_INTERFACE_UART || ETH_CH395_INTERFACE_SPI
        int "Polling period in msec of Ethernet Module"
        default 10
        help
            Set SPI Ethernet module polling period.

    config IPERF_ETH_PHY_RST_GPIO
        depends on ETH_CH395_INTERFACE_UART || ETH_CH395_INTERFACE_SPI
        int "PHY Reset GPIO number of Ethernet Module"
        range -1 ENV_GPIO_OUT_RANGE_MAX
        default -1
        help
            Set the GPIO number used to reset PHY chip on the SPI Ethernet module.
            Set to -1 to disable PHY chip hardware reset.

endmenu
