CONFIG_ETHERNET_INTERNAL_SUPPORT=y

CONFIG_ETHERNET_PHY_IP101=n
CONFIG_ETHERNET_PHY_RTL8201=n
CONFIG_ETHERNET_PHY_LAN87XX=n
CONFIG_ETHERNET_PHY_DP83848=y
CONFIG_ETHERNET_PHY_KSZ80XX=n
CONFIG_ETHERNET_PHY_LAN867X=n

CONFIG_ETHERNET_PHY_INTERFACE_RMII=y
CONFIG_ETHERNET_RMII_CLK_OUTPUT=y
CONFIG_ETHERNET_RMII_CLK_EXT_LOOPBACK_EN=n
CONFIG_ETHERNET_RMII_CLK_GPIO=17
CONFIG_ETHERNET_MDC_GPIO=23
CONFIG_ETHERNET_MDIO_GPIO=18
CONFIG_ETHERNET_PHY_RST_GPIO=5
CONFIG_ETHERNET_PHY_ADDR=1

CONFIG_ETHERNET_SPI_SUPPORT=n
