CONFIG_ETHERNET_INTERNAL_SUPPORT=n

CONFIG_ETHERNET_SPI_SUPPORT=y
CONFIG_ETHERNET_SPI_NUMBER=1
CONFIG_ETHERNET_SPI_DEV0_DM9051=n
CONFIG_ETHERNET_SPI_DEV0_KSZ8851SNL=n
CONFIG_ETHERNET_SPI_DEV0_W5500=y
