CONFIG_ETHERNET_INTERNAL_SUPPORT=y

CONFIG_ETHERNET_PHY_IP101=n
CONFIG_ETHERNET_PHY_RTL8201=n
CONFIG_ETHERNET_PHY_LAN87XX=y
CONFIG_ETHERNET_PHY_DP83848=n
CONFIG_ETHERNET_PHY_KSZ80XX=n
CONFIG_ETHERNET_PHY_LAN867X=n

CONFIG_ETHERNET_SPI_SUPPORT=n
