CONFIG_IDF_TARGET="esp32s31"

CONFIG_ETHERNET_INTERNAL_SUPPORT=y

CONFIG_ETHERNET_PHY_IP101=n
CONFIG_ETHERNET_PHY_RTL8201=n
CONFIG_ETHERNET_PHY_LAN87XX=n
CONFIG_ETHERNET_PHY_DP83848=n
CONFIG_ETHERNET_PHY_KSZ80XX=n
CONFIG_ETHERNET_PHY_LAN867X=n
CONFIG_ETHERNET_PHY_VSC8541=y
CONFIG_ETHERNET_PHY_YT8531=n

CONFIG_ETHERNET_PHY_INTERFACE_RGMII=y
CONFIG_ETHERNET_RGMII_RX_CLK_GPIO=14
CONFIG_ETHERNET_RGMII_TX_CLK_GPIO=13
CONFIG_ETHERNET_RGMII_PHY_REF_CLK_GPIO=-1
CONFIG_ETHERNET_RGMII_TX_CTL_GPIO=12
CONFIG_ETHERNET_RGMII_TXD0_GPIO=8
CONFIG_ETHERNET_RGMII_TXD1_GPIO=9
CONFIG_ETHERNET_RGMII_TXD2_GPIO=10
CONFIG_ETHERNET_RGMII_TXD3_GPIO=11
CONFIG_ETHERNET_RGMII_RX_CTL_GPIO=15
CONFIG_ETHERNET_RGMII_RXD0_GPIO=19
CONFIG_ETHERNET_RGMII_RXD1_GPIO=18
CONFIG_ETHERNET_RGMII_RXD2_GPIO=17
CONFIG_ETHERNET_RGMII_RXD3_GPIO=16

CONFIG_ETHERNET_MDC_GPIO=5
CONFIG_ETHERNET_MDIO_GPIO=6
CONFIG_ETHERNET_PHY_RST_GPIO=7

CONFIG_ETHERNET_SPI_SUPPORT=n
