CONFIG_ETHERNET_INTERNAL_SUPPORT=n

CONFIG_ETHERNET_SPI_SUPPORT=y
CONFIG_ETHERNET_SPI_DEV0_DM9051=n
CONFIG_ETHERNET_SPI_DEV0_KSZ8851SNL=n
CONFIG_ETHERNET_SPI_DEV0_W5500=n
CONFIG_ETHERNET_SPI_DEV0_W6100=y
CONFIG_ETHERNET_SPI_DEV0_CH390=n
CONFIG_ETHERNET_SPI_DEV0_ENC28J60=n
