menu "Example options"
    config EXAMPLE_ACT_AS_DHCP_SERVER
        bool "Act as a DHCP server"
        default n
        help
            Set ESP32 to act as DHCP server instead of as a client.
endmenu