name: Push components to https://components.espressif.com
on:
  push:
    branches:
      - master
jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Upload components to the component registry
        uses: espressif/github-actions/upload_components@master
        with:
          directories: "ksz8863;adin1200;lan867x;ethernet_init;eth_dummy_phy"
          namespace: "espressif"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}